{% extends 'blog/base.html.twig' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"/>

                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                        <input type="hidden" name="_target_path" value="/admin"/>
                    </div>

                    <button type="submit" class="btn btn-primary">login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}