{% extends 'base.html.twig' %}
{% block body %}
    <div id="container">
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }}</p>
                <p>{{ post.body | raw }}</p>
            </div>
        <a href="#" onclick="window.history.back()">Powrót</a>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        #container {
            width: 600px;
            margin: 0 auto;
        }
        .post {
            display: block;
            min-height: 150px;
            margin-top: 15px;
        }
    </style>
{% endblock %}
